<div id="side-menu">
  <ul id="category-list" class="list-group">
  </ul>
  <div id="menu-toggle-button"></div>
</div>
<div id="start-button">Start</div>
<div id="container">
  <div id="graph-container"><span id="layout-notification">Layout in progress...</span></div>
</div>
