<div id="container">
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
    #layout-notification {
      display: block;
      position: absolute;
      top: 1em;
      left: 1em;
      visibility: hidden;
      font-weight: bold;
    }
  </style>
  <div id="graph-container"><span id="layout-notification">Layout in progress...</span></div>
</div>

<script>
$.getJSON("collect_requests/f6991635-5cc4-4da9-b7e3-1175556288f9", function(data){
  result = $.parseJSON(data.result)
  var s = new sigma({
    renderer: {
      container: document.getElementById('graph-container'),
      type: 'canvas'
    },
    settings: {
      edgeColor: 'default',
      defaultEdgeColor: '#ccc',
      animationsTime: 5000,
      drawLabels: false,
      scalingMode: 'outside',
      batchEdgesDrawing: true,
      hideEdgesOnMove: true,
      sideMargin: 1
    }
  });
  s.graph.read(result);
  s.graph.nodes().forEach(function (n) {
    if (!s.graph.degree(n.id)) {
      s.graph.dropNode(n.id);
    }
    else {
      n.x = Math.random();
      n.y = Math.random();
    }
  });
  s.refresh();
  var fa = sigma.layouts.configForceLink(s, {
    worker: true,
    autoStop: true,
    background: true,
    scaleRatio: 30,
    gravity: 3,
    easing: 'cubicInOut'
  });
  // Bind the events:
  fa.bind('start stop', function(e) {
    console.log(e.type);
    document.getElementById('layout-notification').style.visibility = '';
    if (e.type == 'start') {
      document.getElementById('layout-notification').style.visibility = 'visible';
    }
  });
  sigma.layouts.startForceLink();
});
</script>
