<div id="side-menu">
  <div id="date"></div>
  <ul id="entry-list" class="list-group">
  </ul>
  <div id="menu-toggle-button"></div>
</div>
<div id="start-button">START</div>
<div id="container">
  <div id="graph-container"></div>
</div>
<div id="share">
  <a href="http://b.hatena.ne.jp/entry/http://www.hatena-relation.tk" class="hatena-bookmark-button" data-hatena-bookmark-title="HatenaRelation" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加">
    <img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
  </a>
  <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>
<div id="setting-button" title="グラフ描画設定"></div>
<div class="sidebar right">
  <ul id="graph-setting-list" class="list-group">
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"></li>
  </ul>
</div>
