<div id="side-menu">
  <div id="date"></div>
  <ul id="entry-list" class="list-group">
  </ul>
  <div id="menu-toggle-button"></div>
</div>
<div id="start-button">START</div>
<div id="container">
  <div id="graph-container"></div>
</div>
