html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  overflow:auto;
}

#side-menu {
  top: auto;
  bottom: auto;
  left: 0px;
  top: 20px;
  position: absolute;
  z-index: 10;
}

#date {
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

#entry-list {
  float: left;
}

.btn-open {
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  margin-right: 10px;
  float: left;
}

.list-group-item {
  width: 300px;
  border-left-width: 5px;
  border-left-style: solid;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  &.ui-selecting {
    background: #FECA40;
    color: white;
  }
  &.ui-selected {
    background: #F39814;
  }
}

.hotentry, .general {
  border-left-color: #008FDE;
}
.social, .economics {
  border-left-color: #A78358;
}
.life, .knowledge {
  border-left-color: #068B71;
}
.it {
  border-left-color: #00A5DE;
}
.fun, .entertainment, .game {
  border-left-color: #F5AC0F;
}

.entry-title {
  position: relative;
}

.bookmark {
  position: relative;
}

.sidebar.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    z-index: 20;
    padding: 10px;
    position: fixed;
    background: #448AFF;
}

#start-button {
  width: 80px;
  height: 80px;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  background-color: #1E90FF;
  text-align: center;
  line-height: 80px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#share {
  bottom: 20px;
  left: 30px;
  position: absolute;
}

#setting-button {
  width: 40px;
  height: 40px;
  top: 20px;
  right: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  border: 3px solid gray;
  background-size: contain;
  background-image: image-url("setting.png");
}

#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
